body{
  margin:0;
  padding-top:80px;
  font-family:Arial;
  background:url("https://images.unsplash.com/photo-1512820790803-83ca734da794")
             no-repeat center center fixed;
  background-size:cover;
  color:white;
}

.custom-navbar{
  background:rgba(0,0,0,0.8);
  backdrop-filter:blur(8px);
  padding:15px 40px;
}

.custom-navbar .navbar-brand{
  font-size:22px;
  font-weight:bold;
  color:white;
}

.custom-navbar .navbar-brand span{
  color:red;
}

.nav-link{
  color:white !important;
  margin-left:20px;
}
.nav-link:hover{
  color:red !important;
}
