body {
  margin: 0;
  padding-top: 80px;
  background: #111;
  font-family: Arial;
  color: white;
}

/* Navbar */
.custom-navbar {
  background-color: #000;
  padding: 15px 40px;
}

.custom-navbar .navbar-brand {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.custom-navbar .navbar-brand span {
  color: red;
}

.custom-navbar .nav-link {
  color: white !important;
  margin-left: 25px;
  position: relative;
  transition: 0.3s;
}

.custom-navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: red;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.custom-navbar .nav-link:hover::after {
  width: 100%;
}

/* Loader */
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
